button {
    display: flex;
    width: 6rem;
    height: 2.2rem;
    align-items: center;
    border: none;
    border-radius: 0.5rem;
    transition: ease-in-out;
    transition-duration: 200ms;
    img {
        width: 1.5rem;
    }

    &.new {
        background-color: #1ac888;
    }

    &.export {
        background-color: #326dee;
        color: white;
        img {
            color: white;
        }
    }

    &:hover {
        box-shadow: 0 0 5px 2px #212529;
    }
}