nav {
    background-color: var(--color-dark);
    color: var(--color-light);
    width: 100vw;
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    position: absolute;
    // transition: ease-in-out;
    // transition-duration: 200ms;
    a {
        color: var(--color-light);
    }
}