* {
    // *-------- Reset Default Styles --------
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input {
    font-family: var(--main-font);
    color: var(--color-1);

    & > div {
        width: 100vw;
        height: 100vh;
    }
}

a {
    text-decoration-line: none;
    color: var(--color-1);
}

.seccion-principal {
    max-width: 100vw;
    max-height: 100vh;
    background-color: $color-test-1;
    margin: 1rem;

    input[type=month] {
        border: none;
        background-color: var(--color-2);
        height: 3rem;
        width: 100%;
        text-align: center;
    }
}

.background{
    height: 100vh;
    width: 100vw;
    background-color: #303746;
    color: #fff;
    position: relative;
}

.popup-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: absolute;
    //transition: ease-in-out;
    //transition-duration: 100ms;

    .background {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #303746;
        opacity: 0.5;
    }

    .container-round-border {
        max-width: 95%;
        padding: 2rem 2rem 3rem 2rem;
        border-radius: 1rem;
        background: #fff;
        color: #303746;
        position: relative;

        .button-cerrar-ventana {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0.5rem 0.5rem;
            width: 1.5rem;
            height: 1.5rem;
            background-color: #d32752;
            padding: 0;
        }
    }
}

#new-record-section {
    .container-round-border {
        width: 50rem;
        height: 90%;
        max-width: 95%;
        z-index: 1;

        #button-agregar-registro {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0.5rem 1.8rem;
            padding: 0;
        }

        form {
            overflow-y: scroll;
            height: 100%;
            width: 100%;
    
            & > section {
                margin-bottom: 1rem;
    
                & > div {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1rem;
                    padding: 0 2rem;

                }
            }
    
            label {
                padding: 0 1rem;
            }
        }
    }
}

#section-messages {
    z-index: 2;
}

.blur {
    filter: blur(3px);
}

.hidden {
    opacity: 0;
    transform: scale(0,0);
}

.on-top {
    z-index: 100;
}

#section-registros {
    display: flex;
    width: 100vw;
    .container-round-border {
        padding: 2rem 2rem 3rem 2rem;
        border-radius: 1rem;
        background: #fff;
        color: #303746;
        margin: 4rem 1rem 1rem 1rem;
        width: 100%;
    }
}